In [3]:
# Dictionary Declaration
d = {}

In [4]:
type(d)

dict

In [5]:
#key should always be unique if not then it auto updates itself
#the elements needs to be passed as key and value pair
d1 = {"key":"Nikhil"}

In [6]:
d1

{'key': 'Nikhil'}

In [7]:
#Here the data is stored in key and value pair
d2 = {'name': "Nikhil",'email':"nikhil@gmail.com",'number':256311458}

In [8]:
d2

{'name': 'Nikhil', 'email': 'nikhil@gmail.com', 'number': 256311458}

In [9]:
d3 = {235:"Nik"}

#key may contain any numeric or string value
#Special character cannot be used in key or value neither @ or _ but when we keep the charater under quotes then it doesnot have any issue and gets converted into string

For making key
as Boolean Value gets accepted
Numeric values is also allowed

In [12]:
d3

{235: 'Nik'}

In [13]:
d2

{'name': 'Nikhil', 'email': 'nikhil@gmail.com', 'number': 256311458}

In [14]:
d2["name"]

'Nikhil'

In [15]:
#here for getting any value from the dictionary the key parameter associated to it must be passed

In [18]:
d2['number']

256311458

In [19]:
d4 = {'name':"nikhil",'mail_id':'nikhil@gmail.com',"name":"nik"}

In [20]:
d4

{'name': 'nik', 'mail_id': 'nikhil@gmail.com'}

In [21]:
d4["name"]

'nik'

If the key is not unique it gets override with unique value

Key should always be unique

In [23]:
d5 = {"company":'ntech',"courses":["web dev","data science","java with dsa system design"]}

In [24]:
d5 #Remember not to use quotes for a value that is in the form of list or numbers

{'company': 'ntech',
 'courses': ['web dev', 'data science', 'java with dsa system design']}

In [26]:
d5["courses"][2]

'java with dsa system design'

In [29]:
d6 = {"number":[1,34,2,5,625,14,2],"assignment":(1,2,5,3,6),"launch_date":{28,12,14},"class_time":{"web_dev":8,"Data science masters":8,"java with dsa and system design":7}}

In a dictionary we are able to take list or set or tuples as a value

In [30]:
d6

{'number': [1, 34, 2, 5, 625, 14, 2],
 'assignment': (1, 2, 5, 3, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7}}

We can keep dictionary inside a dictionary. Nested dictionary, nested list, nested tuples and nested sets can be implemented simultaneously as well as cross implementation is also possible

In [32]:
d6["class_time"]["java with dsa and system design"]

7

In [35]:
d6['mentor'] = ["sudhanshu","krish","anurag","hyder"] #process to add key and value to the existing dictionary

In [36]:
d6

{'number': [1, 34, 2, 5, 625, 14, 2],
 'assignment': (1, 2, 5, 3, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'hyder']}

In [37]:
del d6['number']

In [38]:
d6

{'assignment': (1, 2, 5, 3, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'hyder']}

In [40]:
list(d6.keys())

['assignment', 'launch_date', 'class_time', 'mentor']

In [42]:
list(d6.values())

[(1, 2, 5, 3, 6),
 {12, 14, 28},
 {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7},
 ['sudhanshu', 'krish', 'anurag', 'hyder']]

In [44]:
list(d6.items())

[('assignment', (1, 2, 5, 3, 6)),
 ('launch_date', {12, 14, 28}),
 ('class_time',
  {'web_dev': 8,
   'Data science masters': 8,
   'java with dsa and system design': 7}),
 ('mentor', ['sudhanshu', 'krish', 'anurag', 'hyder'])]

In [45]:
d6.pop()

TypeError: pop expected at least 1 argument, got 0

In [49]:
d6.pop("assignment")

KeyError: 'assignment'

Conditions

Conditional statements

In [12]:
marks = int(input("Enter Your Marks"))
if marks >= 80:
    print ("You will be a part of A0 batch")
elif marks >= 60 and marks < 80:
    print("You will be apart of A1 batch")
elif marks >=40 and marks <60:
    print("You will be part of A2 batch")
else :
    print("You will be part of A3 batch")

Enter Your Marks 99

You will be a part of A0 batch

When we take input from user the system receives it as a string but if the user needs it in a different data type then the user needs to do type casting

In [14]:
price = int(input("Enter the price of the item:"))
if price >1000:
    print("I will not Purchase")
else:
    print("I will Purchase")

Enter the price of the item: 200

I will Purchase

In [26]:
price = int(input("Enter the price of the item:"))
if price >1000:
    print("I will not Purchase")
    if price >5000:
        print("This is too much")
    elif price <2000:
        print("ITS Okay")
elif price <1000:
    print("I will purchase")
else :
    print("Not Interested")

Enter the price of the item: 550

I will purchase

In [32]:
l = [1,2,3,4,5,6,7,8]

In [43]:
l1 = []
for i in l:
    l1.append(i+1)

In [44]:
l1

[2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
m = ["nikhil","yash"," leena","satish"]

In [50]:
n = []
for i in m :
    n.append(i.upper())
n

['NIKHIL', 'YASH', ' LEENA', 'SATISH']

In [51]:
l = [1,2,3,4,5,"nikhil",3425,35.254,"abc"]

In [56]:
l1_numeric = []
l2_str = []
for i in l:
    if type(i) == int or type(i) == float :
        l1_numeric.append(i)
    elif type(i) == str :
        l2_str.append(i)

In [58]:
l1_numeric

[1, 2, 3, 4, 5, 3425, 35.254]

In [59]:
l2_str

['nikhil', 'abc']