#In built Functions

In [2]:
print("This is my print")

This is my print

In [4]:
l =[1,2,5,3,4]
len(l)

5

In [5]:
type(l)

list

Functions are used widely in Modular coding and also reinforces reusability of code

#How to build a function in Python

In [7]:
def funct_name() :
    print("This is my very very 1st function")

In [8]:
funct_name() #Calling the function to get the output

This is my very very 1st function

In [9]:
funct_name() + "nikhil" # we get an error here as the cocatenation is between 2 different data types.

This is my very very 1st function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [10]:
def test2() :
    return "This is my very 1st return"

In [11]:
test2()

'This is my very 1st return'

In [12]:
test2() + "nikhil"

'This is my very 1st returnnikhil'

Return gives the same data type as the element which we have originally given unlioke print() that gives none type

Hence Return is genrally ussed

In [13]:
def test3() :
    return "nikhil",23,2.356,[1,2,3,5]

In [14]:
test3()

('nikhil', 23, 2.356, [1, 2, 3, 5])

In [20]:
a,b,c,d = test3() # this operation assigns the variable a value as per the index value element of the return type

In [16]:
a

'nikhil'

In [17]:
b

23

In [18]:
c

2.356

In [19]:
d

[1, 2, 3, 5]

In [21]:
def test4() :
    a= 5+6/7
    return a

In [22]:
test4()

5.857142857142857

In [23]:
def test5(a,b,c):
    d = a+b/c
    return d

In [24]:
test5(2,3,4)

2.75

In [25]:
def test6(a,b):
    return a+b

In [26]:
test6(3,4)

7

In [27]:
test6("Nikhil"," Bagul")

'Nikhil Bagul'

In [28]:
test6([1,2,3,4,5],[8,9,6,8,4])

[1, 2, 3, 4, 5, 8, 9, 6, 8, 4]

In [29]:
l = [1,2,3,4,"nikhil","bagul",[1,2,3,4,5,6]]

In [30]:
l1 = []
for i in l :
    if type(i) == int or type(i) == float :
        l1.append(i)

In [31]:
l1

[1, 2, 3, 4]

In [32]:
def test7(l) :
    l1 = []
    for i in l :
        if type(i) == int or type(i) == float :
            l1.append(i)
    return l1

In [33]:
test7(l)

[1, 2, 3, 4]

In [34]:
def test8(a) :
    l =[]
    for i in a :
        if type(i) == list :
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [35]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [36]:
def test9(a) :
    """This is my function to extract numeric data from list"""
    
    l =[]
    for i in a :
        if type(i) == list :
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [37]:
test9(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [38]:
def test10(a,b) :
    return a+b

 #this *args is used to make the input dynamic so that the user evertime while executing the function does not necessarily have to pass the same number or type of parameter

In [ ]:
def test11(*args) :         
    return args

In [46]:
type(test11())

tuple

In [43]:
test11(1,2,3)

(1, 2, 3)

In [44]:
test11(1,2,3,"nikhil","bagul",[1,2,3,4,5])

(1, 2, 3, 'nikhil', 'bagul', [1, 2, 3, 4, 5])

Instead of args we can write any word

MAin work is done by *

In [48]:
def test12(*nik):
    return nik

In [49]:
test12(1,2,35,4)

(1, 2, 35, 4)

In [50]:
def test13(*args,a):
    return args, a

# in this type of function calling the system fails to classify which parameter is passed  for args and which is for the variable a

In [51]:
test13(1,2,3,4)

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [52]:
test13(1,2,3,4, a = 25) #To solve above problem it is passed in this way

((1, 2, 3, 4), 25)

In [53]:
def test14(c,d,a=14,b=16):
    return a,b,c,d

In [54]:
test14(15,8)

(14, 16, 15, 8)

In [55]:
def test15(**kwargs) :
    return kwargs

In [57]:
type(test15())

dict

**kwargs is used to get return in the form of dictionary that is the key and value pair

In [58]:
test15(a =[1,2,3,4], b="nikhil", c= 23.456)

{'a': [1, 2, 3, 4], 'b': 'nikhil', 'c': 23.456}