In [1]:
range(10)

range(0, 10)

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

To reduce memory concern we use generator function instead of storing large amount of data in any other data type

Such type of function is called Generator function

In [3]:
#To generate Fibonacci number series
def test_fibo(n):
    a,b =0,1
    for i in range(n):
        yield a
        a,b = b, a+b

The above function is an example of generator function. Here there is no return used instead yield is used to give back the value

In [ ]:
we do not get the whole data at once we generate it one by one.
suppose we have a list containing a million records in this case it will be highly costly in terms of time and system memory.
so better to generate the value one by one as and when needed.

In [4]:
test_fibo(10)

In [5]:
for i in test_fibo(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [8]:
#Example of generator function
def test_fibo1():
    a,b = 0,1
    while True:
        yield a
        a,b = b,a+b

In [9]:
fib = test_fibo1()

In [10]:
for i in range(10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

In [11]:
s ="nikhil"
for i in s:
    print(i)

n
i
k
h
i
l

In [12]:
s

'nikhil'

In [13]:
next(s)

TypeError: 'str' object is not an iterator

In [14]:
s1 = iter(s)

In [15]:
next(s1)

'n'

next(s1)

In [17]:
next(s1)

'k'

String is iterable but not an iterator
to make string iterator we need to first use iter()
then use the next() which gives the elements at different indexes

In [18]:
next(45)

TypeError: 'int' object is not an iterator

In [19]:
iter(45)

TypeError: 'int' object is not iterable

The one which is iterable  only that can be converted to iterator 
for example string, list, tuples, dictionary, sets,etc
an integer/float/complex/boolean is not an iterable and hence cannot become an iterator even after using iter()

In [21]:
def count_test(n):
    count = 1
    while count < n:
        yield count
        count = count + 1
c = count_test(5)
for i in c :
    print(i)

1
2
3
4